#gameboard {
    border: 1px solid black;
    text-align: center;
    background: url('./images/background.png');
}

#gamecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}