main {
  display: flex;
  font-size: 20pt;
  line-height: 35px;
}

#info {
  flex: 1;
  margin: 40px;
}

#test {
  flex: 1;
  margin: 40px;
  text-align: center;
}

#contain {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
}
